CREATE TABLE Airports (    Airport_name VARCHAR(100) PRIMARY KEY,    State VARCHAR(100) NOT NULL,    City VARCHAR(100) NOT NULL,    Country VARCHAR(100) NOT NULL,    Time_zone VARCHAR(50) NOT NULL,    Latitude DECIMAL(9,6),    Longitude DECIMAL(9,6));CREATE TABLE Terminal (    Terminal_id SERIAL PRIMARY KEY,    No_of_gates INT NOT NULL,    Airport_name VARCHAR(100) NOT NULL REFERENCES Airports(Airport_name));CREATE TABLE Aircraft (    Aircraft_id SERIAL PRIMARY KEY,    Manufacturer VARCHAR(100) NOT NULL,    Model VARCHAR(100) NOT NULL,    Capacity INT NOT NULL);CREATE TABLE Flights (    flight_id SERIAL PRIMARY KEY,    flight_no VARCHAR(20) NOT NULL,    departure_airport VARCHAR(100) NOT NULL REFERENCES Airports(Airport_name),    arrival_airport VARCHAR(100) NOT NULL REFERENCES Airports(Airport_name),    departure_terminal VARCHAR(50) NOT NULL,    arrival_terminal VARCHAR(50) NOT NULL,    Aircraft_id INT NOT NULL REFERENCES Aircraft(Aircraft_id),    departure_time TIMESTAMP NOT NULL,    arrival_time TIMESTAMP NOT NULL,    distance DECIMAL(10,2),    Available_economy_seat INT NOT NULL,    Available_Business_seat INT NOT NULL);CREATE TABLE Passenger (    p_id SERIAL PRIMARY KEY,    First_Name VARCHAR(100) NOT NULL,    Middle_Name VARCHAR(100) NOT NULL,    Last_Name VARCHAR(100) NOT NULL,    Gender CHAR(1) NOT NULL,    DOB DATE NOT NULL,    Age INT NOT NULL,    Nationality VARCHAR(50) NOT NULL,    passport_no VARCHAR(20) NOT NULL);CREATE TABLE FrequentFlyer (    loyalty_id SERIAL PRIMARY KEY,    Membership_no VARCHAR(50) NOT NULL,    Membership_tier VARCHAR(50) NOT NULL,    p_id INT NOT NULL REFERENCES Passenger(p_id),    Valid_from DATE NOT NULL,    Valid_to DATE NOT NULL);CREATE TABLE Meals (    meal_id SERIAL PRIMARY KEY,    meal_type VARCHAR(50) NOT NULL,    dietary VARCHAR(100),    price_usd DECIMAL(10,2) NOT NULL,    price_inr DECIMAL(10,2) NOT NULL);CREATE TABLE Booking (    booking_id SERIAL PRIMARY KEY,    source VARCHAR(100) NOT NULL,    destination VARCHAR(100) NOT NULL,    booking_date DATE NOT NULL,    meal_id INT REFERENCES Meals(meal_id),    flight_id INT NOT NULL REFERENCES Flights(flight_id),    economy BOOLEAN NOT NULL,    business BOOLEAN NOT NULL,    p_id INT NOT NULL REFERENCES Passenger(p_id));CREATE TABLE Payments (    payment_id SERIAL PRIMARY KEY,    p_id INT NOT NULL REFERENCES Passenger(p_id),    booking_id INT NOT NULL REFERENCES Booking(booking_id),    payment_method VARCHAR(50) NOT NULL,    amount DECIMAL(10,2) NOT NULL,    loyalty_id INT REFERENCES FrequentFlyer(loyalty_id),    transaction_date TIMESTAMP NOT NULL,    currency VARCHAR(10) NOT NULL);CREATE TABLE Check_in (    checkin_id SERIAL PRIMARY KEY,    p_id INT NOT NULL REFERENCES Passenger(p_id),    flight_id INT NOT NULL REFERENCES Flights(flight_id),    checkin_time TIMESTAMP NOT NULL,    boarding_pass_id INT NOT NULL,    boarding_time TIMESTAMP NOT NULL,    baggage_count INT NOT NULL,    payment_id INT NOT NULL REFERENCES Payments(payment_id));CREATE TABLE Luggage (    Luggage_id SERIAL PRIMARY KEY,    Luggage_type VARCHAR(50) NOT NULL,    is_fragile BOOLEAN NOT NULL,    checkin_id INT NOT NULL REFERENCES Check_in(checkin_id),    weight DECIMAL(10,2) NOT NULL,    payment_id INT NOT NULL);CREATE TABLE Reviews (    Review_id SERIAL PRIMARY KEY,    flight_id INT NOT NULL REFERENCES Flights(flight_id),    Comments TEXT,    Rating INT CHECK (Rating BETWEEN 1 AND 5));CREATE TABLE Employee (    E_id SERIAL PRIMARY KEY,    First_name VARCHAR(100) NOT NULL,    Middle_name VARCHAR(100),    Last_name VARCHAR(100) NOT NULL,    Age INT NOT NULL,    Nationality VARCHAR(50) NOT NULL,    DOB DATE NOT NULL,    Position VARCHAR(100) NOT NULL,    Department VARCHAR(100) NOT NULL);CREATE TABLE Crew (    Crew_id SERIAL PRIMARY KEY,    E_id INT NOT NULL REFERENCES Employee(E_id),    Role VARCHAR(100) NOT NULL,    Experience INT);CREATE TABLE Assigned (    Crew_id INT NOT NULL REFERENCES Crew(Crew_id),    flight_id INT NOT NULL REFERENCES Flights(flight_id),    PRIMARY KEY (Crew_id, flight_id));CREATE TABLE Passenger_Phone (    P_id INT NOT NULL REFERENCES Passenger(p_id),    Phone VARCHAR(20) NOT NULL,    PRIMARY KEY(P_id, Phone));CREATE TABLE Passenger_email (    P_id INT NOT NULL REFERENCES Passenger(p_id),    E_mail VARCHAR(100) NOT NULL,    PRIMARY KEY(P_id, E_mail));CREATE TABLE Passenger_Address_Pincode (    P_id INT NOT NULL REFERENCES Passenger(p_id),    Pincode INT NOT NULL,    PRIMARY KEY(P_id, Pincode));CREATE TABLE Passenger_Address_State (    P_id INT NOT NULL REFERENCES Passenger(p_id),    State VARCHAR(50) NOT NULL,    PRIMARY KEY(P_id, State));CREATE TABLE Passenger_Address_City (    P_id INT NOT NULL REFERENCES Passenger(p_id),    City VARCHAR(50) NOT NULL,    PRIMARY KEY(P_id, City));CREATE TABLE Employee_Phone (    E_id INT NOT NULL REFERENCES Employee(E_id),    Phone VARCHAR(20) NOT NULL,    PRIMARY KEY(E_id, Phone));CREATE TABLE Employee_email (    E_id INT NOT NULL REFERENCES Employee(E_id),    E_mail VARCHAR(50) NOT NULL,    PRIMARY KEY(E_id, E_mail));CREATE TABLE Crew_Phone (    Crew_id INT NOT NULL REFERENCES Crew(Crew_id),    Phone VARCHAR(20) NOT NULL,    PRIMARY KEY(Crew_id, Phone));